<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link text-orange mr-5 font-weight-bold text-uppercase" href="#" id="sortera-efter-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Produkttyp
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Tennisracketar</a>
                <a href="" class="dropdown-item ">Tennisväskor</a>
                <a href="" class="dropdown-item ">Tennisbollar</a>
                <a href="" class="dropdown-item ">Tennissträngar</a>
                <a href="" class="dropdown-item ">Grepplindor</a>
                <a href="{% url 'products' %}" class="dropdown-item">Se alla</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-orange mr-5 font-weight-bold text-uppercase" href="#" id="kläder-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Kläder
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Toppar</a>
                <a href="" class="dropdown-item">Shorts &amp; kjolar </a>
                <a href="" class="dropdown-item">Klänningar</a>
                <a href="" class="dropdown-item">Jackor</a>
                <a href="" class="dropdown-item">Skor</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-orange font-weight-bold text-uppercase" href="#" id="erbjudanden-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Erbjudanden
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Nyheter</a>
                <a href="" class="dropdown-item">Rea</a>
                <a href="" class="dropdown-item">Specialerbjudande</a>
            </div>
        </li>
    </ul>
</div>